body {
    background-color: powderblue;
    margin: 0;
}

.headTitle {
    text-align: center;
}
#leftPanel :hover{
    opacity: 0.8;
}

#bothPanels {
    display: flex;
    justify-content: space-around;
    overflow: auto;

}

#leftPanel {
    background: #c25fff;
    height: 300px;
    width: 40%;
    display: inline-block;
    justify-items: center;
    border-radius: 10px;
}

#rightPanel {
    background: #fffd96;
    width: 60%;
    height: auto;
    border-radius: 10px;
}

button {
    margin-left: 10px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #fffee0;
}

span.grayPiece {
    margin: 2px;
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: #808080;
}

span.grayPiece:hover{
    opacity: 0.5;
}

span.lightPiece {
    margin: 2px;
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: #2135ff;
    pointer-events: none;
}

span.guessedPiece {
    margin: 2px;
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: #00ff2a;
    pointer-events: none;
}

span.failShootedPiece {
    margin: 2px;
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: #ff2836;
    pointer-events: none;
}

input {
    position: relative;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 20px;
    font-size: 14pt;
}

.textLines {
    display: inline-block;
    text-wrap: inherit;
    margin-top: 4px;
}

.disable {
    pointer-events: none;
}



